body {
  background-color: powderblue;}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: verdana;
  font-size: 100%;
}
pre{
	color: maroon;
	font-family: verdana;
  font-size: 300%;
}